<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Priman</title>
    <style>
        body{
            background: url("https://image.freepik.com/free-vector/bearded-man-emotionally-spreads-his-hands_165429-131.jpg") no-repeat;
            -moz-background-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }
    </style>
    <link rel="icon" type="image/" href="favicon.ico" />
</head>
<body>
<div align="center"  style="margin-top: 350px; color:#ff0000; font-size: 230%;">
    <h1>You dont have permission to access this page</h1>
    <a href="/login"><h1>Login</h1></a>
</div>
</body>
</html>